/*font-family: 'PT Sans', sans-serif;*/


/*Body style*/

.display_none {
    display: none !important;
}
/*Log In*/
.login_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: white;
}

.log_in {
    height: 150px;
    width: 300px;
}

.log_in_heder {
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #203192;
    text-align: center;
    color: white;
    width: 300px;
    height: 50px;
    gap: 30%;
}

.log_in_heder img {
    height: 40px;
    

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

.container {
    /* width: 1024px; */
    /* height: 720px; */
    width: 100vw;
    height: 100vh;
    display: flex;
}


/*Menu style*/

.menu {
    display: flex;
    flex-direction: column;
    background-color: #203192;
    width: 174px;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 60px;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
}

.menu_tags {
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
}

.menu_tags:hover {
    cursor: pointer;
}

.profil_img {
    background-color: beige;
    color: black;
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-sidebar {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.footer-sidebar a {
    text-decoration: none;
    color: white;
    padding: 5px;
}


/* Impressum Style */

.impressum {
    margin: 40px
}

.imp_highlight {
    font-weight: bolder;
    font-size: 1.3em;
}


/*Privacy Policy Style */

.privacy_policy {
    margin: 40px;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.menu-pp {
    position: fixed;
    top: 0;
    bottom: 0;
}

.workspace-pp {
    position: relative;
    left: 174px;
    top: 1673px;
}

.container-pp {
    height: 4100px;
}


/*Workspace Style*/

.workspace {
    /* background-color: aliceblue; */
    /* width: 850px; */
    width: 100%;
}


/* Board Style */

.board-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-container>h2 {
    text-transform: uppercase;
}

.task {
    background-color: #F4F3FB;
    height: 80%;
    width: 250px;
}


/* Backlog Style */

.backlog-container {
    padding: 0 32px;
}

.backlog-header {
    margin-top: 32px;
}

.backlog-header>p {
    color: rgb(102, 115, 180);
}

.backlog-headlines {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: rgb(30, 49, 144);
    font-weight: 700;
    margin-top: 3rem;
    font-size: 1.1rem;
}


/* adToTask style*/

.d-none {
    display: none;
}

.add-task-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.add-task-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F4F3FB;
    width: 80%;
    height: 80%;
    border-radius: 12px;
    padding: 2rem;
    color: #1E3090;
}


.top-row, .mid-row, .bottom-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.title-input-container > input {
    width: 450px;
    height: 45px;
    border: none;
    margin-top: 1rem;
}

.date-container > input {
    width: 450px;
    height: 45px;
    border: none;
    margin-top: 1rem;
}

.category-container > select {
    width: 450px;
    height: 45px;
    border: none;
    margin-top: 1rem;
}

.urgency-container > select {
    width: 450px;
    height: 45px;
    border: none;
    margin-top: 1rem;
}

.description-container > textarea {
    width: 450px;
    height: 250px;
    border: none;
    margin-top: 1rem;
}

.placeholder-container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 250px;
    margin-top: 1rem;
}

.icon-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.button-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.button-container > button {
    width: 125px;
    height: 45px;
    border: none;
    background-color: #1E3090;
    border-radius: 12px;
    color: white;
    text-transform: uppercase;
    margin-left: 1rem;
    font-weight: 700;
}

.profilepicture {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 100%;
}

.add-button-container {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(181, 180, 180);
}

.add-button {
    width: 35px;
    height: 35px;
}

.choose-name-input {
    margin-left: 1rem;
    width: 200px;
    height: 40px;
    border: none;

}


/* helpStyle*/

.content-area {
    flex: 1;
    padding: 1.5rem;
}