body {
    display: flex;
    justify-content: center;
    overflow: hidden;    
    width: 100%;
    min-height: 100vh;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

/*font-family: 'PT Sans', sans-serif;*/

.font-size-07rem{
    font-size: 0.7rem !important;
}
/*Body style*/

.display_none {
    display: none !important;
}
/*Log In*/
.login_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-image: url('./img/Icons/bglogin2.jpg');
    background-size: cover;
    
}

.login-box{
    background-color: rgba(32, 49, 146, 1);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
}

.log_in {
    width: 300px;
}


.log_in form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.log_in form label{
    color: white;
    padding-left: 20px;
}

.log_in form input{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.log_in form button{
    margin-left: 90px;
    margin-right: 90px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* .log_in_heder {
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #203192;
    text-align: center;
    color: white;
    width: 300px;
    height: 50px;
    gap: 30%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
} */

.login-box img {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.container {
    /* width: 1024px; */
    /* height: 720px; */
    width: 100vw;
    height: 100%;
    display: flex;
    overflow: hidden;	
    position: relative;
}


/*Menu style*/

.menu {
    display: flex;
    flex-direction: column;
    background-color: #203192;
    width: 174px;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

#logo {
    width: 60px;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
}

.menu_tags {
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
}

.menu_tags1 {	
    font-size: 1.5rem;	
    padding-top: 10px;	
    padding-bottom: 10px;	
    color: white;	
    text-decoration: none;	
}	
.menu_tags2 {	
    font-size: 1.5rem;	
    padding-top: 10px;	
    padding-bottom: 10px;	
    color: white;	
    text-decoration: none;	
}

.menu_tags:hover {
    cursor: pointer;
}

.profil_img {
    background-color: beige;
    color: black;
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-sidebar {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.footer-sidebar a {
    text-decoration: none;
    color: white;
    padding: 5px;
}


/* Impressum Style */

.impressum {
    margin: 40px
}

.imp_highlight {
    font-weight: bolder;
    font-size: 1.3em;
}


/*Privacy Policy Style */

.privacy_policy {
    margin: 40px;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.menu-pp {
    position: fixed;
    top: 0;
    bottom: 0;
}

.workspace-pp {
    position: relative;
    left: 174px;
    top: 1673px;
}

.container-pp {
    height: 4100px;
}


/*Workspace Style*/

.workspace {
    /* background-color: aliceblue; */
    /* width: 850px; */
    width: 100%;
    height: 100%;
}


/* Board Style */

.board-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.task-container>h2 {
    text-transform: uppercase;
}

.task {
    background-color: #F4F3FB;
    min-height: 650px;
    width: 250px;
}

#toDoTask{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-story{
    width: 170px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 12px;
    padding: 12px;
}


/* Backlog Style */

.backlog-container {
    padding: 0 32px;
}

.backlog-header {
    margin-top: 32px;
}

.backlog-header > p {
    color: rgb(102, 115, 180);
}

/* table {
    margin-top: 2rem;
    width: 100%;
} */

/* tr {
    text-align: center;
} */

.backlog-table-header {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    color: #1E3090;
    font-weight: 700;
    font-size: 1.1rem;
}

.backlog-table-header > div {
    width: 33%;
}

.backlog-table-tasks {
    margin: 0rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F4F3FB;
    height: 70px;
    border-radius: 12px;
}

.backlog-table-tasks:hover {
    background-color: #a7a7a7;
    height: 70px;
    cursor: pointer;
}

.backlog-table-tasks > div{
    width: 33%;
}

.dialog-backlog{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-backlog p {
    height: 200px;
    width: 300px;
    background-color: #1E3090;;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
}

/* adToTask style*/

.d-none {
    display: none ;
}

.add-task-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.add-task-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F4F3FB;
    width: 80%;
    height: 80%;
    border-radius: 12px;
    padding: 2rem;
    color: #1E3090;
}


.top-row, .mid-row, .bottom-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.title-input-container > input {
    width: 450px;
    height: 45px;
    border: none;
    margin-top: 1rem;
}

.date-container > input {
    width: 450px;
    height: 45px;
    border: none;
    margin-top: 1rem;
}

.menu_tags7 {	
    padding: 15px;	
    margin-top: 35px;	
    font-size: 15px;	
    display: none;	
}

.category-container > select {
    width: 450px;
    height: 45px;
    border: none;
    margin-top: 1rem;
}

.urgency-container > select {
    width: 450px;
    height: 45px;
    border: none;
    margin-top: 1rem;
}

.description-container > textarea {
    width: 450px;
    height: 250px;
    border: none;
    margin-top: 1rem;
}

.placeholder-container {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 250px;
    margin-top: 1rem;
    box-sizing: border-box;
}

.icon-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.button-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.button-container > button {
    width: 125px;
    height: 45px;
    border: none;
    background-color: #1E3090;
    border-radius: 12px;
    color: white;
    text-transform: uppercase;
    margin-left: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.profilepicture {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 100%;
}

.mobilemenuu {	
    display: none;	
}	
.overlay {	
    display: none;	
}   

.add-button-container {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(181, 180, 180);
    cursor: pointer;
}

.add-button {
    width: 35px;
    height: 35px;
}

.choose-name-input {
    margin-left: 1rem;
    width: 200px;
    height: 40px;
    border: none;

}

.dialog-adToTask{
    color: rgba(32, 49, 146, 1);
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
}

.dialog-adToTask span{
    font-weight: 700;
}



/* helpStyle*/

.content-area {
    flex: 1;
    padding: 1.5rem;
}

	/*just-for-smartphones*/	
    @media(max-width:1000px) {	
        .container {	
            display: flex;	
            flex-direction: column;	
        }	
        .menu {	
            width: 100%;	
            height: 120px !important;	
            flex-direction: column;	
        }	
        .profil_img {	
            display: none;	
        }	
        .mobileview {	
            display: flex;	
            flex-direction: row;	
        }	
        .menu_tags {	
            padding: 15px;	
            margin-top: 35px;	
            font-size: 15px;	
            display: none;	
        }	
        .menu_tags7 {	
            padding: 15px;	
            margin-top: 35px;	
            font-size: 15px;	
            display: unset;	
            cursor: pointer;	
        }	
        .menu_tags1 {	
            font-size: 10px !important;	
            cursor: pointer;	
            padding: 10px;	
            margin-top: -50px;	
        }	
        .menu_tags2 {	
            font-size: 10px !important;	
            cursor: pointer;	
            padding: 10px;	
            margin-top: -50px;	
        }	
        .footer-sidebar {	
            display: flex;	
            flex-direction: row;	
        }	
        .privacy_policy {	
            width: 70%;	
        }	
        .impressum {	
            display: flex;	
            flex-direction: column;	
            align-items: center;	
        }	
        .backlog-table-header {	
            font-size: 10px;	
            gap: 10px;	
        }	
        .top-row {	
            display: flex !important;	
            flex-direction: column !important;	
            font-size: 10px;	
        }	
        .mid-row {	
            display: flex !important;	
            flex-direction: column !important;	
            font-size: 10px;	
        }	
        .bottom-row {	
            display: flex !important;	
            flex-direction: column !important;	
            font-size: 10px;	
        }	
        .title-input-container>input {	
            width: 300px;	
        }	
        .date-container>input {	
            width: 300px;	
        }	
        .category-container>select {	
            width: 300px;	
        }	
        .urgency-container>select {	
            width: 300px;	
        }	
        .description-container>textarea {	
            width: 300px;	
        }	
        .button-container {	
            justify-content: unset;	
        }	
        .placeholder-container {	
            width: unset;	
        }	
        .task-container>h2 {	
            font-size: 15px;	
        }	
        .board-container {	
            flex-direction: column;	
        }	
        a {	
            word-wrap: break-word;	
        }	
        #logo {	
            margin-left: -380px;	
            height: 70px;	
        }	
        .mobilemenuu {	
            display: unset;	
        }	
        .loggo {	
            width: 45px;	
            height: 45px;	
            display: flex;	
            justify-content: space-between;	
            margin-left: 150px;	
            margin-top: 35px;	
        }	
        .overlay {	
            position: absolute;	
            right: 0;	
            top: 0;	
            z-index: 2;	
            display: flex;	
            flex-direction: column;	
            width: 200px;	
            height: 100vh;	
            background-color: #1E3090;	
            border-left: 1px solid black;	
            color: white;	
            transform: translateX(200px);	
            transition: all 225ms ease-in-out;	
        }	
        .showoverlay {	
            transform: translateX(0);	
        }	
        .close-button {	
            position: absolute;	
            color: white;	
            cursor: pointer;	
            right: 16px;	
            top: 16px;	
            background-color: #102cc7;	
            border-color: white;	
        }	
    }	
   