/* .d-none {
    display: none ;
} */

h2{
    font-size: 3vh;
}

.add-task-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.headline-container{
    width: 95%;
    height: 13vh;
}

.headline-container h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 5vh;
}

.headline-container p {
    color: rgba(32, 49, 146, 0.7);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3vh;
}

.add-task-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d4d3FB;
    width: 95%;
    height: 80vh;
    border-radius: 12px;
    color: #1E3090;
    box-sizing: border-box;
    padding-bottom: 40px;

}


.top-row, .mid-row, .bottom-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.field-container{
    width: 50%;
    padding: 0 2rem 0 2rem;
    box-sizing: border-box;
}

.select-container {
    position: relative;
    width: 90%;
}

.custom-array{
    position: absolute;
    display: block;
    top: 0.2vw;
    right: 0;
    width: 10px;
    bottom: 0.2vw;
    width: 4vw;
    border-left: 3px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    pointer-events: none;
    background-image: url('/assets/images/chevron.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

}

input::placeholder{
    color: black;
}

input:-ms-input-placeholder{
    color: black ;
}


.title-input-container > input {
    width: 90%;
    height: 7vh;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
}

.date-container > input {
    width: 90%;
    height: 7vh;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;

}

input, select, textarea{
    font-size:2.5vh;
}





input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background-image: url('/assets/images/icons8-calendar-150.png');
    background-size: cover;
    width: 3vw;
    height: 3vw;
    padding: 1vw;
    border-left: 3px solid rgba(0, 0, 0, 0.2);
}

.menu_tags7 {	
    padding: 15px;	
    margin-top: 35px;	
    font-size: 15px;	
  
}

.category-container select {
    width: 100%;
    height: 7vh;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
    appearance: none;
}

.urgency-container select {
    width: 100%;
    height: 7vh;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
    appearance: none;

}

.description-container > textarea {
    width: 90%;
    height: 20vh;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
    resize: none;
}

.placeholder-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 25vh;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: space-around;
}

.icon-container {
    display: flex;
    align-items: center;
    height: 50%;
   
}

.button-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.button-container > button {
    width: 7rem;
    height: 2.5rem;
    border: none;
    background-color: #1E3090;
    border-radius: 8px;
    color: white;
    text-transform: uppercase;
    margin-left: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.cancel-button{
    background-color: rgb(212, 211, 251) !important;
    color: #1E3090 !important;
}

.cancel-button:hover {
    background-color:  rgb(192, 191, 231) !important;
}

.cancel-button:active {
    background-color: #1E3090 !important;
    color: white !important;
}

.profilepicture:hover{
    filter: brightness(1.25);
    transform: scale(1.2);
    
}

.selected-picture {
    filter: brightness(1.25);
    transform: scale(1.2);
    animation: drawBorder 2s ease-in forwards;
}



@keyframes drawBorder{

    25% {
        border-top: 5px solid #1E3090;
    }

    50% {
        border-top: 5px solid #1E3090;
        border-right: 5px solid #1E3090;
    }

    75% {
        border-top: 5px solid #1E3090;
        border-right: 5px solid #1E3090;
        border-bottom: 5px solid #1E3090;
    }

    100% {
        border-top: 5px solid #1E3090;
        border-right: 5px solid #1E3090;
        border-bottom: 5px solid #1E3090;
        border-left: 5px solid #1E3090;
    }


}

.profilepicture {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
    border: 5px solid transparent;
    margin-left: 5px;
    margin-right: 5px;
}


.mobilemenuu {	
    display: none;	
}	
.overlay {	
    display: none;	
}   

.add-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(181, 180, 180);
    cursor: pointer;
    z-index: 2;
    width: 40px;
}

.add-button-container:hover{
    filter: brightness(1.1);
}

.add-button {
    width: 40px;
    height: 40px;
    
}

.columnname {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fade-in-animation {
    animation: FadeIn 225ms ease-in-out;
    
}

.fade-out-animation {
    animation: FadeOut 225ms ease-in-out;

}

.assigned-name{
    font-size: 3vh;
    margin-bottom: 1vh
}

.choose-name-input {
    display: flex;
    justify-content: center;
    border: none;
    box-sizing: border-box;
    width: 100%;

}



.avatar-box{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.dialog-adToTask{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: rgba(162, 59, 46, 1);
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    margin-left: 5px;
}

.dialog-adToTask p{
    background-color:rgba(32, 49, 146, 0.6);
    width: 70%;
    height: fit-content;
    font-size: 4vh;
    margin-top: 0;

}

.dialog-adToTask span{
    font-weight: 700;
}

@keyframes FadeIn {
    from {
        opacity: 0;
        transform: translateX(40px) translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes FadeOut {
    from {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateX(40px) translateY(-40px);
    }
}