.backlog-container {
    padding: 0 32px;
}

.backlog-header {
    margin-top: 32px;
}

.backlog-header > p {
    color: rgb(102, 115, 180);
}

/* table {
    margin-top: 2rem;
    width: 100%;
} */

/* tr {
    text-align: center;
} */

.backlog-table-header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #1E3090;
    font-weight: 700;
    font-size: 1.1rem;
}

.backlog-table-header > div {
    width: 33%;
}

.backlog-table-tasks {
    margin: 0rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #F4F3FB;
    height: 70px;
    border-radius: 0.4rem;
}

.backlog-table-tasks:hover {
    background-color: #a7a7a7;
    height: 70px;
    cursor: pointer;
}

.backlog-table-tasks > div{
    width: 33%;
}

.dialog-backlog{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-backlog p {
    height: 200px;
    width: 300px;
    background-color: #1E3090;;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.4rem;
}

.category_color {
    width: 10px !important;
    height: 100%;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    
}

.assigned_to {
    display: flex;
    align-items: center;
}

.backlog_profil_img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 4px solid white;
}

.backlog_profile_placeholder {
    display: flex;
    flex-direction: row;
    width: 40%;
}

.backlog_description {
    display: flex;
    align-items: center;  
    width: 15em !important;
    height: 100%;
    padding-right: 45px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.backlog_description p {
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
}