.board-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}


.task-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background-color: #F4F3FB;

}

.task-container>h2 {
    text-transform: uppercase;
    background-color: white;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.task {
    background-color: #F4F3FB;
    min-height: 650px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;   
}



.user-story{
    display:flex;
    width: 90%;
    border: unset;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 6px;
    position: relative;
    background-color: white;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.user-story:active {
    cursor: grabbing;
    cursor: move;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}


.popup_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;  
    background-color: #20319271;
}


.ticket_popup {
    position: absolute;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    border-radius: 6px;
    background-color: #F4F3FB;
    padding: 10px;

}

.board_urgency {
    width: 0px;
    height: 0px;
    border-top: 30px solid transparent;
    border-left: 30px solid white;
    position:absolute;
    right: 0;
    top: 0;
    border-top-right-radius: 6px;    
}

.board_category_color {
    width: 8px;
    height:auto;
    background-color: rgb(18, 88, 88);
    
    margin-right: 12px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.ticket_container {
    padding-top: 8px;
}

.ticket_container button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #203192;
    color: white;
    border: 1px solid rgb(253, 252, 252);
    border-radius: 6px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    
}

.ticket_container strong{
    margin: 0px;
}

.ticket_category {
    margin-bottom: 5px;
}

.ticket_date {
    font-size: 0.8rem;
    
}

.ticket_title {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-weight: bold;
    font-size: larger;
    text-transform: capitalize;
}



.board_btn_img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top_popup {
    display: flex;
    justify-content: space-between;
}

.top_popup img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.middle_popup {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20%;
}

.middle_rightbox {
    display: flex;
    align-items: center;
}

.middle_rightbox img {
    height: 40px;
    width: 40px;
    padding-left: 10px;
    padding-right: 5px;
}

.trash-icon{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.trash-icon:hover{
    filter: brightness(1.2);
}

.board_img {
    display: flex;
    align-items: center;
}

.popup_profil_img {
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 100%;
    cursor: pointer;
}

.ticket_popup_footer {
    display: flex;
    justify-content: space-around;
    background-color: #203192;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#change_status {
    border-radius: 6px;
    border-style: hidden;
    background-color: #203192;
    opacity: 0.8;
    outline: none;
    color: white
    
}

#change_status:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

#change_status option :hover{
   cursor: pointer;
}