.board-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}


.task-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background-color: #F4F3FB;

}

.task-container>h2 {
    text-transform: uppercase;
    background-color: white;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.task {
    background-color: #F4F3FB;
    min-height: 650px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;   
}



.user-story{
    display:flex;
    width: 90%;
    border: unset;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 6px;
    position: relative;
    background-color: white;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.user-story:active {
    cursor: grabbing;
    cursor: move;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}





.ticket_popup {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 40%;
    left: 40%;
    z-index: 1;
    border: 5px solid rgba(0, 0, 0, 0.1);
    display: none;

}

.board_urgency {
    width: 0px;
    height: 0px;
    border-top: 30px solid transparent;
    border-left: 30px solid white;
    position:absolute;
    right: 0;
    top: 0;
    border-top-right-radius: 6px;    
}

.board_category_color {
    width: 8px;
    height:auto;
    background-color: rgb(18, 88, 88);
    
    margin-right: 12px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.ticket_container {
    padding-top: 8px;
}

.ticket_container button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #6F96FF;
    color: white;
    border: 1px solid rgb(253, 252, 252);
    border-radius: 6px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    
}

.ticket_container strong{
    margin: 0px;
}

.ticket_category {
    margin: 0;
    
}

.ticket_date {
    font-size: 0.8rem;
    
}

.ticket_title {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    font-weight: bold;
    font-size: larger;
    text-transform: capitalize;
}

.board_btn_img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}