
.privacy_policy {
    margin: 40px;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.title_privacy {
    margin-left: 0;
    
}

.menu-pp {
    position: fixed;
    top: 0;
    bottom: 0;
}

.workspace-pp {
    position: relative;
    left: 174px;
    top: 1673px;
}

.container-pp {
    height: 4100px;
}

@media(max-width: 700px) {
    .privacy_policy {
        margin: 20px;
    }
}

@media(max-width: 600px) {

    .d-none-600 {
       display: none;
    }

    .privacy_policy {
        text-align: justify;
    }
}

@media(max-width: 400px) {
    .h1-privacy {
        font-size: 1.8em;
    }
}
