.login_container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-image: url('/assets/images/bglogin2.jpg');
    background-size: cover;
    
}

.login-box{
    background-color: rgba(32, 49, 146, 1);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.log_in {
    width: 300px;
}


.log_in form{
    display: flex;
    flex-direction: column;
}

.log_in form label{
    color: white;
    padding-left: 20px;
}

.log_in form input{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.log_in form button{
    margin-left: 90px;
    margin-right: 90px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.login-box img {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}