/* Add To Task Section */
@media (max-width: 1300px){
    .dialog-adToTask p{
        width: 100%;
        margin-bottom: 0;
    }
}

@media (max-width: 1100px ), (min-height: 1100px) and (max-width:1300px) {
    .workspace {
        min-height: unset;
    }

    .add-task-main-container {
        height: unset;
    }

    .add-task-container {
        height: unset;
    }

    .field-container {
        padding: 0 1rem 0 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    input, textarea{
        margin-left: auto;
        margin-right: auto;
    }

    .custom-array {
        width: 5vw;
    }

    .assigned-name {
        font-size: 3vh;
        margin-bottom: 2vh;
    }

    .profilepicture {
        height: 6vw;
        width: 6vw;
    }

    .avatar-box {
        gap: 2vw;
        justify-content: center;
    }

    .top-row, .mid-row, .bottom-row {
        flex-direction: column;
        justify-content: center;
    }

    .icon-container {
        height: 60%;
    }

    .add-button-container {
        margin-left: 1vw;
    }

    .add-button {
        width: 5.5vw;
        height: 5.5vw;
    }
}

/* //////////////////// */

/* Backlog Section */

@media(max-width:1250px){

    .assigned_to_headline {
        width: 30%;
    }

    .assigned_to {
        width: 30%;
    }

    .assigned_to p{
        display: none;
    }

    .category_headline {
        width: 30%;
    }

    .backlog_description_headline {
        width: 40%;
    }

    .backlog_description {
        width: 40%;
    }


    .category {
        width: 30%;
    }

}

@media (max-width: 2100px) and (min-height: 1000px){
    .assigned_to p {
        display: none;
    }
}

@media (max-width: 1450px) and (min-height: 1000px) {
    

    .assigned_to_headline {
        width: 30%;
    }

    .assigned_to {
        width: 30%;
    }

    .category_headline {
        width: 30%;
    }

    .category {
        width: 30%;
    }

    .backlog_description_headline {
        width: 40%;
    }

    .backlog_description {
        width: 40%;
    }
}

@media (min-width:1100px) and (min-height:1000px) {

    .backlog_profil_img {
        width: 70px;
        height: 70px;
    }

    .backlog-table-tasks {
        height: 130px;
    }

    .assigned_to p, .category p, .backlog_description p {
        font-size: 1.5rem;
    }
}

@media (min-width: 900px) and (min-height: 1000px) {

    .backlog-table-tasks {
        height: 130px;
    }

    .assigned_to p, .category p, .backlog_description p {
        font-size: 1.5rem;
    }

    .backlog_profil_img {
        width: 70px;
        height: 70px;
    }

    .backlog_profil_img {
        margin: 0rem 1rem 1rem 1rem;
    }

    .assigned_to_headline {
        width: 40%;
    }

    .assigned_to {
        width: 40%;
    }

    .category_headline {
        width: 30%;
    }

    .category {
        width: 30%;
    }

    .backlog_description_headline {
        width: 30%;
    }

    .backlog_description {
        width: 30%;
    }
}

/* /////////////////// */

/* Menu Section */
@media (min-width: 1000px){
    .menu-list {
        transform: translateX(0) !important;
    }

    .footer-sidebar {
        display: flex !important;
    }
}

@media (max-width: 1000px) {
    .workspace, .backlogspace {
        overflow: hidden !important;
        margin-top: 15vh;
    }

    .menu {
        width: 100% !important;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .menu-content {
        height: 15vh !important;
        flex-direction: row !important;
    }

    .menu_footer {
        flex-direction: row !important;
    }

    .menu-list {
        position: absolute;
        top: 15vh;
        right: 0;
        width: 30vw;
        transform: translateX(30vw);
        z-index: 2;

    }

    .menu_tags {
        padding-top: 3.5vh !important;
        padding-bottom: 3.5vh !important;
        font-size: 3.5vh !important;
    }

    .menu_footer {
        margin-left: auto;
        margin-right: auto;
    }

    

    .footer-sidebar {
        margin-bottom: 0 !important;
        position: absolute;
        right: 0;
        top: 60.5vh;
        width: 30vw;
        display: none !important;
        z-index: 3;
    }

    .footer-sidebar a {
        font-size: 3.5vh !important;
        padding-left: 30px !important;
        padding-top: 3.5vh !important;
        padding-bottom: 3.5vh !important;
        background-color: #203192;
        
    }

    .icon_mobile_container {
        display: flex !important;
        width: 174px;
    }

    .icon_mobile {
        width: 4vw;
        height: 4vw;
        filter: invert();
        cursor: pointer;
    }

    .profil_img {
        margin-bottom: 0 !important;
    }
}

.fade_in_menu_animation {
    animation: FadeInMenu 225ms ease-in-out;
}

.fade_out_menu_animation {
    animation: FadeOutMenu 225ms ease-in-out;
}



@keyframes FadeInMenu {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}

@keyframes FadeOutMenu {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* /////////////////// */

/* Board section */

@media (max-width: 1200px) {
    .board-container {
        flex-wrap: wrap;
    }

    .task-container {
        height: 50%;
        width: 40%;
    }

    .task {
        min-height: unset;
        width: 100%;
        overflow: auto;
    }
}

/* //////////////////// */