<div class="background_white">
    <div class="logo background_color">
        <img onclick="getHome()" id="logo" class="logo" src="./assets/images/logo.png" alt="">	
    </div>
    <div class="menu-list">
        <a href="board.html" class="menu_tags">Board</a>	
        <a href="backlog.html" class="menu_tags">Backlog</a>	
        <a href="adToTask.html"  class="menu_tags">Add Task</a>	
        <a href="help.html" class="menu_tags">Help</a>	
    </div>
</div>

<div class="menu_footer background_color">
    <img src="" id="user_img" class="profil_img">	

    <div class="footer-sidebar">	
        <a href="impressum.html" class="font-size-07rem" >Imprint</a>	
        <a href="datenschutz.html" class="font-size-07rem" >Legal notice</a>	
    </div>	
</div>

<div onclick="showMenuMobile()" class="icon_mobile_container">
    <img src="./assets/images/burger.svg" class="icon_mobile">
</div>
  
