.menu {
    display: flex;
    flex-direction: column;
    width: 174px;
    background-color: #203192;
    
}

.background_color {
    background-color: #203192;
}

.background_white {
    background-color: #FFFFFF;
}

.height {
    width: inherit;
    height:450px;
}

.logo {
    width: 174px;
    display: flex;
    justify-content: center;
}

#logo {
    width: 60px;
    height: 70px;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    cursor: pointer;
}

.menu_tags {
    font-size: 1.5rem;    
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    background-color: #203192;
    display: flex;
}

.menu_tags:hover {
    cursor: pointer;
    margin-left: 5px;
    padding-left: 25px ;
    transition: margin-left 0.5s, padding-left 0.5s;
}

.profil_img {
    background-color: beige;
    color: black;
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
}

.menu_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;

}

.footer-sidebar {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    cursor: pointer;
    color: white;
}

.footer-sidebar a {
    text-decoration: none;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.mobile_footer-sidebar {
    transform: translateX(0) !important;
    display: flex !important;

}

.mobileview{
    display: flex;
    flex-direction: column;
}

.menu-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

}

#overmenu a{
    color: white;
    text-decoration: none;
}

.icon_mobile_container {
    display: none;
}